body {
    font-family: Montserat, sans-serif;
    font-weight: 300;
    color: black;
    background-color: lightgreen;
    text-align: center;
}

h1, h2 {
    text-align: center;
    background-color: cornflowerblue;
}

/* main image */
.main-image {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}

/* start quiz button */
.btn--aqua {
    color: black;
    background-color: aqua;
    border: 1px transparent;
}

.btn--aqua:active, .btn--aqua:hover {
    background-color: magenta;
}

/* footer */
footer {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 2.5rem;
    background-color: cornflowerblue;
}
